body{

	background-color: white;
}
  
table.dataTable thead{
	background: #54B53D;
	color: white;
}

.caja{
	/* border: 1px solid; */
	padding: 5px;
	box-shadow: 10px 10px 50px 1px white;
	border-radius: 10px;
}